In [1]:
import pandas as pd
from sqlalchemy import create_engine, text


conn_str_transformed = "postgresql://username:your_password@localhost:5432/transformeddb"  # Update as needed

engine = create_engine(conn_str_transformed)

In [2]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM avg_ridership_with_rainfall"))

In [3]:
data = result.all()

In [4]:
data = pd.DataFrame(data)
data

          Date      ridership  Inches
0   2019-05-01  198177.814867    0.00
1   2019-05-02  134056.503783    0.05
2   2019-05-03  150907.440850    0.10
3   2019-05-04  140735.325917    0.14
4   2019-05-05   95552.069200    0.01
5   2019-05-06  188802.536633    0.00
6   2019-05-07  132811.685300    0.10
7   2019-05-08  169194.853300    0.00
8   2019-05-09  227274.504550    0.00
9   2019-05-10  175810.633050    0.01
10  2019-05-11  339574.295983    0.01
11  2019-05-12   32858.108417    0.33
12  2019-05-13  134739.026333    0.72
13  2019-05-14   73986.845150    0.14
14  2019-05-15  186404.563783    0.00
15  2019-05-16  211065.958817    0.01
16  2019-05-17  195827.986567    0.25
17  2019-05-18  423268.242100    0.00
18  2019-05-19  157650.280150    0.21
19  2019-05-20  164205.551600    0.22
20  2019-05-21  180564.525900    0.00
21  2019-05-22  243905.710150    0.00
22  2019-05-23  179804.443183    0.12
23  2019-05-24  189115.834567    0.00
24  2019-05-25  305438.613417    0.03
25  2019-05-26  328245.045667    0.20
26  2019-05-27  299458.994817    0.00
27  2019-05-28   88304.375867    0.32
28  2019-05-29  123874.591017    0.00
29  2019-05-30  162249.237050    0.22
30  2019-05-31  240961.252350    0.02